<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET uygulamanızı nasıl yapılandıracağınız hakkında daha fazla bilgi için lütfen
  https://go.microsoft.com/fwlink/?LinkId=301880 adresini ziyaret edin.
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--SİTE AYARLARI...........................................................-->
    <add key="blog"                  value="true"/>
    <add key="haberler"              value="false"/>
    <add key="hizmetler"             value="true"/>
    <add key="hakkimizda"            value="true"/>
    <add key="iletisim"              value="true"/>
    <add key="projelerimiz"          value="true"/>
    <add key="referanslar"           value="true"/>
    
    <add key="urunler"               value="true"/>
    <add key="onsiparis"             value="false"/><!--urunler özelliği açılmadan bu işe yaramaz, bu özellik kapalı ise ürünler listelenir ama ön sipariş kapalı olur..-->
    <add key="eticaret"              value="false"/><!--urunler özelliği açılmadan bu işe yaramaz, bu özellik kapalı ise ürünler listelenir ama satış işlemleri kapalı olur.-->
    
    <add key="kredi_karti"           value="false"/><!--ödeme tipi, eticaret açık olmalı.-->
    <add key="havale"                value="false"/><!--ödeme tipi, eticaret açık olmalı.-->
    <add key="kapida_odeme"          value="false"/><!--ödeme tipi, eticaret açık olmalı.-->
    <add key="magazadan_teslim"      value="false"/><!--ödeme tipi, eticaret açık olmalı.-->
    
    <add key="multilanguage"         value="false"/><!--Dil eklerken panelden dil açmak yetmek resource kaynağı kısa kodu ile eklenmelidir, bunuda sadece yazılımcı yapabilir.-->
    
    <add key="yapim_asamasinda_modu" value="false"/><!--Bu açıksa site yapım şamasında olarak çalışır, Admin panele giriş için /Admin/Index yolu girilmelidir-->

    <add key="tema"                  value="Inteshape"/><!--Wokiee|Inteshape-->
    <!--ENTEGRASYON..................................................-->
    <add key="n11_entegrasyon"       value="false"/> <!--entegrasyon modülü, eticaret açık olmalı.-->
    <add key="n11_api_key"           value="d5279cc0-9a94-44cf-b02d-c73806c2af29"/>
    <add key="n11_api_pass"          value="Qa1mL8nWtVIMuKR9"/>
    <!--.............................................................-->
    <!--........................................................................-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" maxRequestLength="1102400" />
    <sessionState mode="InProc" timeout="600"></sessionState>
    <customErrors mode="Off"></customErrors>
    <trust level="Full"/>
  </system.web>
  <connectionStrings>
    <add name="conStr_local" connectionString="server=.; Initial Catalog=sotec_web;Integrated Security=SSPI;" />
    <add name="conStr_srver" connectionString="Server=37.230.108.246; Database=pars3374_stc_parsgroup; User Id=stc_prs; Password=58040613Bb!;" /><!--aysemtuhafiye.com-->
    <!--<add name="conStr_srver" connectionString="Server=37.230.108.250; Database=stc_aysth; User Id=sotecmedia; Password=58040613Bb!;" />--><!--kuzeyguneygida.com-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
  </system.codedom>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer><system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CityServicePortSoap11">
          <security mode="Transport" />
        </binding>
        <binding name="CityServicePortSoap111" />
        <binding name="CategoryServicePortSoap11">
          <security mode="Transport" />
        </binding>
        <binding name="CategoryServicePortSoap111" />
        <binding name="ProductServicePortSoap11">
          <security mode="Transport" />
        </binding>
        <binding name="ProductServicePortSoap111" />
        <binding name="ProductSellingServicePortSoap11">
          <security mode="Transport" />
        </binding>
        <binding name="ProductSellingServicePortSoap111" />
        <binding name="ProductStockServicePortSoap11">
          <security mode="Transport" />
        </binding>
        <binding name="ProductStockServicePortSoap111" />
        <binding name="OrderServicePortSoap11">
          <security mode="Transport" />
        </binding>
        <binding name="OrderServicePortSoap111" />
        <binding name="ShipmentCompanyServicePortSoap11">
          <security mode="Transport" />
        </binding>
        <binding name="ShipmentCompanyServicePortSoap111" />
        <binding name="ShipmentServicePortSoap11">
          <security mode="Transport" />
        </binding>
        <binding name="ShipmentServicePortSoap111" />
        <binding name="SettlementServicePortSoap11">
          <security mode="Transport" />
        </binding>
        <binding name="SettlementServicePortSoap111" />
        <binding name="TicketServicePortSoap11">
          <security mode="Transport" />
        </binding>
        <binding name="TicketServicePortSoap111" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api.n11.com/ws/cityService/" binding="basicHttpBinding"
        bindingConfiguration="CityServicePortSoap11" contract="n11Api_CityService.CityServicePort"
        name="CityServicePortSoap11" />
      <endpoint address="https://api.n11.com/ws/categoryService/" binding="basicHttpBinding"
        bindingConfiguration="CategoryServicePortSoap11" contract="n11Api_CategoryService.CategoryServicePort"
        name="CategoryServicePortSoap11" />
      <endpoint address="https://api.n11.com/ws/productService/" binding="basicHttpBinding"
        bindingConfiguration="ProductServicePortSoap11" contract="n11Api_ProductService.ProductServicePort"
        name="ProductServicePortSoap11" />
      <endpoint address="https://api.n11.com/ws/productSellingService/"
        binding="basicHttpBinding" bindingConfiguration="ProductSellingServicePortSoap11"
        contract="n11Api_ProductSellingService.ProductSellingServicePort"
        name="ProductSellingServicePortSoap11" />
      <endpoint address="https://api.n11.com/ws/productStockService/"
        binding="basicHttpBinding" bindingConfiguration="ProductStockServicePortSoap11"
        contract="n11Api_ProductStockService.ProductStockServicePort"
        name="ProductStockServicePortSoap11" />
      <endpoint address="https://api.n11.com/ws/orderService/" binding="basicHttpBinding"
        bindingConfiguration="OrderServicePortSoap11" contract="n11Api_OrderService.OrderServicePort"
        name="OrderServicePortSoap11" />
      <endpoint address="https://api.n11.com/ws/shipmentCompanyService/"
        binding="basicHttpBinding" bindingConfiguration="ShipmentCompanyServicePortSoap11"
        contract="n11Api_ShipmentCompanyService.ShipmentCompanyServicePort"
        name="ShipmentCompanyServicePortSoap11" />
      <endpoint address="https://api.n11.com/ws/shipmentService/" binding="basicHttpBinding"
        bindingConfiguration="ShipmentServicePortSoap11" contract="n11Api_ShipmentService.ShipmentServicePort"
        name="ShipmentServicePortSoap11" />
      <endpoint address="https://api.n11.com/ws/settlementService/"
        binding="basicHttpBinding" bindingConfiguration="SettlementServicePortSoap11"
        contract="n11Api_SettlementService.SettlementServicePort" name="SettlementServicePortSoap11" />
      <endpoint address="https://api.n11.com/ws/ticketService/" binding="basicHttpBinding"
        bindingConfiguration="TicketServicePortSoap11" contract="n11Api_TicketService.TicketServicePort"
        name="TicketServicePortSoap11" />
    </client>
  </system.serviceModel>
</configuration>
