@{
    ViewBag.Title = "Home Page";
}

<div class="container-indent nomargin">
    <div class="container-fluid">
        <div class="row">
            <div class="slider-revolution revolution-default">
                <div class="tp-banner-container">
                    <div class="tp-banner revolution">
                        <ul>
                            <li data-thumb="images/slides/01/slide-02.jpg" data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide">
                                <img src="~/wokiee_src/images/slides/01/slide-02.jpg" alt="slide1" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                                <div class="tp-caption tp-caption1 lft stb"
                                     data-x="center"
                                     data-y="center"
                                     data-hoffset="0"
                                     data-voffset="0"
                                     data-speed="600"
                                     data-start="900"
                                     data-easing="Power4.easeOut"
                                     data-endeasing="Power4.easeIn">
                                    <div class="tp-caption1-wd-1 tt-white-color">Ready To</div>
                                    <div class="tp-caption1-wd-2 tt-white-color">Use Unique<br>Demos</div>
                                    <div class="tp-caption1-wd-3 tt-white-color">Optimized for speed, website that sells</div>
                                    <div class="tp-caption1-wd-4"><a href="listing-left-column.html" target="_blank" class="btn btn-xl" data-text="SHOP NOW!">SHOP NOW!</a></div>
                                </div>
                            </li>
                            <li data-thumb="images/slides/01/slide-02.jpg" data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide">
                                <img src="~/wokiee_src/images/slides/01/slide-02.jpg" alt="slide1" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                                <div class="tp-caption tp-caption1 lft stb"
                                     data-x="center"
                                     data-y="center"
                                     data-hoffset="0"
                                     data-voffset="0"
                                     data-speed="600"
                                     data-start="900"
                                     data-easing="Power4.easeOut"
                                     data-endeasing="Power4.easeIn">
                                    <div class="tp-caption1-wd-1 tt-white-color">Ready To</div>
                                    <div class="tp-caption1-wd-2 tt-white-color">Use Unique<br>Demos</div>
                                    <div class="tp-caption1-wd-3 tt-white-color">Optimized for speed, website that sells</div>
                                    <div class="tp-caption1-wd-4"><a href="listing-left-column.html" target="_blank" class="btn btn-xl" data-text="SHOP NOW!">SHOP NOW!</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-indent0">
    <div class="container-fluid">
        <div class="row tt-layout-promo-box">
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="listing-left-column.html" class="tt-promo-box tt-one-child hover-type-2">
                            <img src="~/wokiee_src/images/loader.svg" data-src="../wokiee_src/images/promo/index-promo-img-01.jpg" alt="">
                            <div class="tt-description">
                                <div class="tt-description-wrapper">
                                    <div class="tt-background"></div>
                                    <div class="tt-title-small">SALE</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="listing-left-column.html" class="tt-promo-box tt-one-child hover-type-2">
                            <img src="~/wokiee_src/images/loader.svg" data-src="../wokiee_src/images/promo/index-promo-img-01.jpg" alt="">
                            <div class="tt-description">
                                <div class="tt-description-wrapper">
                                    <div class="tt-background"></div>
                                    <div class="tt-title-small">WOMEN</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="listing-left-column.html" class="tt-promo-box tt-one-child hover-type-2">
                            <img src="~/wokiee_src/images/loader.svg" data-src="../wokiee_src/images/promo/index-promo-img-01.jpg" alt="">
                            <div class="tt-description">
                                <div class="tt-description-wrapper">
                                    <div class="tt-background"></div>
                                    <div class="tt-title-small">SALE</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="listing-left-column.html" class="tt-promo-box tt-one-child hover-type-2">
                            <img src="~/wokiee_src/images/loader.svg" data-src="../wokiee_src/images/promo/index-promo-img-01.jpg" alt="">
                            <div class="tt-description">
                                <div class="tt-description-wrapper">
                                    <div class="tt-background"></div>
                                    <div class="tt-title-small">WOMEN</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-indent">
    <div class="container container-fluid-custom-mobile-padding">
        <div class="tt-block-title">
            <h1 class="tt-title">TRENDING</h1>
            <div class="tt-description">TOP VIEW IN THIS WEEK</div>
        </div>
        <div class="row tt-layout-product-item">
            <div class="col-6 col-md-4 col-lg-3">
                <div class="tt-product thumbprod-center">
                    <div class="tt-image-box">
                        <a href="#" class="tt-btn-quickview" data-toggle="modal" data-target="#ModalquickView" data-tooltip="Quick View" data-tposition="left"></a>
                        <a href="#" class="tt-btn-wishlist" data-tooltip="Add to Wishlist" data-tposition="left"></a>
                        <a href="product.html">
                            <span class="tt-img"><img src="~/wokiee_src/images/loader.svg" data-src="../wokiee_src/images/product/product-26.jpg" alt=""></span>
                            <span class="tt-img-roll-over"><img src="~/wokiee_src/images/loader.svg" data-src="../wokiee_src/images/product/product-26-01.jpg" alt=""></span>
                        </a>
                    </div>
                    <div class="tt-description">
                        <div class="tt-row">
                            <ul class="tt-add-info">
                                <li><a href="#">T-SHIRTS</a></li>
                            </ul>
                        </div>
                        <h2 class="tt-title"><a href="product.html">Flared Shift Dress</a></h2>
                        <div class="tt-price">
                            $56
                        </div>
                        <div class="tt-product-inside-hover">
                            <div class="tt-row-btn">
                                <!--<a href="#" class="tt-btn-addtocart thumbprod-button-bg" data-toggle="modal" data-target="#modalAddToCartProduct">ADD TO CART</a>-->
                            </div>
                            <div class="tt-row-btn">
                                <a href="#" class="tt-btn-quickview" data-toggle="modal" data-target="#ModalquickView"></a>
                                <a href="#" class="tt-btn-wishlist"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="tt-product thumbprod-center">
                    <div class="tt-image-box">
                        <a href="#" class="tt-btn-quickview" data-toggle="modal" data-target="#ModalquickView" data-tooltip="Quick View" data-tposition="left"></a>
                        <a href="#" class="tt-btn-wishlist" data-tooltip="Add to Wishlist" data-tposition="left"></a>
                        <a href="product.html">
                            <span class="tt-img"><img src="~/wokiee_src/images/loader.svg" data-src="../wokiee_src/images/product/product-45.jpg" alt=""></span>
                            <span class="tt-img-roll-over"><img src="~/wokiee_src/images/loader.svg" data-src="../wokiee_src/images/product/product-45-01.jpg" alt=""></span>
                        </a>
                    </div>
                    <div class="tt-description">
                        <div class="tt-row">
                            <ul class="tt-add-info">
                                <li><a href="#">T-SHIRTS</a></li>
                            </ul>
                        </div>
                        <h2 class="tt-title"><a href="product.html">Flared Shift Dress</a></h2>
                        <div class="tt-price">
                            $78
                        </div>
                        <div class="tt-product-inside-hover">
                            <div class="tt-row-btn">
                                <!--<a href="#" class="tt-btn-addtocart thumbprod-button-bg" data-toggle="modal" data-target="#modalAddToCartProduct">ADD TO CART</a>-->
                            </div>
                            <div class="tt-row-btn">
                                <a href="#" class="tt-btn-quickview" data-toggle="modal" data-target="#ModalquickView"></a>
                                <a href="#" class="tt-btn-wishlist"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="tt-product thumbprod-center">
                    <div class="tt-image-box">
                        <a href="#" class="tt-btn-quickview" data-toggle="modal" data-target="#ModalquickView" data-tooltip="Quick View" data-tposition="left"></a>
                        <a href="#" class="tt-btn-wishlist" data-tooltip="Add to Wishlist" data-tposition="left"></a>
                        <a href="product.html">
                            <span class="tt-img"><img src="~/wokiee_src/images/loader.svg" data-src="../wokiee_src/images/product/product-45.jpg" alt=""></span>
                            <span class="tt-img-roll-over"><img src="~/wokiee_src/images/loader.svg" data-src="../wokiee_src/images/product/product-45-01.jpg" alt=""></span>
                        </a>
                    </div>
                    <div class="tt-description">
                        <div class="tt-row">
                            <ul class="tt-add-info">
                                <li><a href="#">T-SHIRTS</a></li>
                            </ul>
                        </div>
                        <h2 class="tt-title"><a href="product.html">Flared Shift Dress</a></h2>
                        <div class="tt-price">
                            $78
                        </div>
                        <div class="tt-product-inside-hover">
                            <div class="tt-row-btn">
                                <!--<a href="#" class="tt-btn-addtocart thumbprod-button-bg" data-toggle="modal" data-target="#modalAddToCartProduct">ADD TO CART</a>-->
                            </div>
                            <div class="tt-row-btn">
                                <a href="#" class="tt-btn-quickview" data-toggle="modal" data-target="#ModalquickView"></a>
                                <a href="#" class="tt-btn-wishlist"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="tt-product thumbprod-center">
                    <div class="tt-image-box">
                        <a href="#" class="tt-btn-quickview" data-toggle="modal" data-target="#ModalquickView" data-tooltip="Quick View" data-tposition="left"></a>
                        <a href="#" class="tt-btn-wishlist" data-tooltip="Add to Wishlist" data-tposition="left"></a>
                        <a href="product.html">
                            <span class="tt-img"><img src="~/wokiee_src/images/loader.svg" data-src="../wokiee_src/images/product/product-15.jpg" alt=""></span>
                            <span class="tt-img-roll-over"><img src="~/wokiee_src/images/loader.svg" data-src="../wokiee_src/images/product/product-15-01.jpg" alt=""></span>
                        </a>
                    </div>
                    <div class="tt-description">
                        <div class="tt-row">
                            <ul class="tt-add-info">
                                <li><a href="#">T-SHIRTS</a></li>
                            </ul>
                        </div>
                        <h2 class="tt-title"><a href="product.html">Flared Shift Dress</a></h2>
                        <div class="tt-price">
                            $12
                        </div>
                        <div class="tt-product-inside-hover">
                            <div class="tt-row-btn">
                                <!--<a href="#" class="tt-btn-addtocart thumbprod-button-bg" data-toggle="modal" data-target="#modalAddToCartProduct">ADD TO CART</a>-->
                            </div>
                            <div class="tt-row-btn">
                                <a href="#" class="tt-btn-quickview" data-toggle="modal" data-target="#ModalquickView"></a>
                                <a href="#" class="tt-btn-wishlist"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-indent">
    <div class="container-fluid-custom">
        <div class="row tt-layout-promo-box">
            <div class="col-sm-6 col-md-4">
                <a href="listing-left-column.html" class="tt-promo-box">
                    <img src="~/wokiee_src/images/loader.svg" data-src="../wokiee_src/images/promo/index-promo-img-07.jpg" alt="">
                    <div class="tt-description">
                        <div class="tt-description-wrapper">
                            <div class="tt-background"></div>
                            <div class="tt-title-small">FALL-WINTER CLEARANCE SALES</div>
                            <div class="tt-title-large">GET UP TO <span class="tt-base-color">50% OFF</span></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a href="listing-left-column.html" class="tt-promo-box">
                    <img src="~/wokiee_src/images/loader.svg" data-src="../wokiee_src/images/promo/index-promo-img-08.jpg" alt="">
                    <div class="tt-description">
                        <div class="tt-description-wrapper">
                            <div class="tt-background"></div>
                            <div class="tt-title-small">SUMMER <span class="tt-base-color">2018</span></div>
                            <div class="tt-title-large">NEW ARRIVALS</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a href="listing-left-column.html" class="tt-promo-box">
                    <img src="~/wokiee_src/images/loader.svg" data-src="../wokiee_src/images/promo/index-promo-img-09.jpg" alt="">
                    <div class="tt-description">
                        <div class="tt-background"></div>
                        <div class="tt-description-wrapper">
                            <div class="tt-background"></div>
                            <div class="tt-title-small">NEW COLLECTION</div>
                            <div class="tt-title-large"><span class="tt-base-color">HANDBAGS</span></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container-indent">
    <div class="container">
        <div class="tt-block-title">
            <h2 class="tt-title">LATES FROM BLOG</h2>
            <div class="tt-description">THE FRESHEST AND MOST EXCITING NEWS</div>
        </div>
        <div class="tt-blog-thumb-list">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="tt-blog-thumb">
                        <div class="tt-img"><a href="blog-single-post.html" target="_blank"><img src="~/wokiee_src/images/loader.svg" data-src="../wokiee_src/images/blog/blog-post-img-06.jpg" alt=""></a></div>
                        <div class="tt-title-description">
                            <div class="tt-background"></div>
                            <div class="tt-tag">
                                <a href="blog-single-post.html">FASHION</a>
                            </div>
                            <div class="tt-title">
                                <a href="blog-single-post.html">DOLORE EU FUGIATNULLA PARIATUR</a>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                            <div class="tt-meta">
                                <div class="tt-autor">
                                    by <a href="#">ADRIAN</a> on January 14, 2017
                                </div>
                                <div class="tt-comments">
                                    <a href="#"><i class="tt-icon icon-f-88"></i>7</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="tt-blog-thumb">
                        <div class="tt-img"><a href="blog-single-post.html" target="_blank"><img src="~/wokiee_src/images/loader.svg" data-src="../wokiee_src/images/blog/blog-post-img-04.jpg" alt=""></a></div>
                        <div class="tt-title-description">
                            <div class="tt-background"></div>
                            <div class="tt-tag">
                                <a href="blog-single-post.html">FASHION</a>
                            </div>
                            <div class="tt-title">
                                <a href="blog-single-post.html">INCIDIDUNT UT LABORE ET DOLORE</a>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                            <div class="tt-meta">
                                <div class="tt-autor">
                                    by <a href="#">ADRIAN</a> on January 14, 2017
                                </div>
                                <div class="tt-comments">
                                    <a href="#"><i class="tt-icon icon-f-88"></i>7</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="tt-blog-thumb">
                        <div class="tt-img"><a href="blog-single-post.html" target="_blank"><img src="~/wokiee_src/images/loader.svg" data-src="../wokiee_src/images/blog/blog-post-img-02.jpg" alt=""></a></div>
                        <div class="tt-title-description">
                            <div class="tt-background"></div>
                            <div class="tt-tag">
                                <a href="blog-single-post.html">FASHION</a>
                            </div>
                            <div class="tt-title">
                                <a href="blog-single-post.html">INCIDIDUNT UT LABORE ET DOLORE</a>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                            <div class="tt-meta">
                                <div class="tt-autor">
                                    by <a href="#">ADRIAN</a> on January 14, 2017
                                </div>
                                <div class="tt-comments">
                                    <a href="#"><i class="tt-icon icon-f-88"></i>7</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="container-indent">
    <div class="container">
        <div class="row tt-services-listing">
            <div class="col-xs-12 col-md-6 col-lg-4">
                <a href="#" class="tt-services-block">
                    <div class="tt-col-icon">
                        <i class="icon-f-48"></i>
                    </div>
                    <div class="tt-col-description">
                        <h4 class="tt-title">FREE SHIPPING</h4>
                        <p>Free shipping on all US order or order above $99</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <a href="#" class="tt-services-block">
                    <div class="tt-col-icon">
                        <i class="icon-f-35"></i>
                    </div>
                    <div class="tt-col-description">
                        <h4 class="tt-title">SUPPORT 24/7</h4>
                        <p>Contact us 24 hours a day, 7 days a week</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <a href="#" class="tt-services-block">
                    <div class="tt-col-icon">
                        <i class="icon-e-09"></i>
                    </div>
                    <div class="tt-col-description">
                        <h4 class="tt-title">30 DAYS RETURN</h4>
                        <p>Simply return it within 24 days for an exchange.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>-->
